git+git://github.com/metabolomics-us/pyspec.git@master#egg=pyspec&subdirectory=pyspec
git+git://github.com/berlinguyinca/spectra-hash.git@#egg=splash&subdirectory=python
git+git://github.com/metabolomics-us/carpy.git#egg=stasis-client&subdirectory=stasis-client
flask
pytest-flask
WSGIserver
boto3
pytest==4.6.0
